---
# The scss file which include files from _sass/
---

@charset "utf-8";

$base-font-family: Avenir, Segoe UI, Cantarell, Helvetica Neue, sans-serif;
$mono-font-family: Menlo, Consolas, Liberation Mono, monospace;
$base-font-size:   16px;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$background-color:    #222222;
$text-color:          #ffffff;
$description-color:   #a0a0a0;
$link-color:          #0074d9;
$meta-color:          #a5a58d;
$border-color:        #dddddd;

@import "color";
@import "base";
@import "layout";
@import "syntax";
